
/* ===== Main Content ===== */
main {
  padding: 2rem;
  min-height: 60vh;
}

/* ===== Footer ===== */
/* footer {
  background-color: #99c2a2;
  color: #313d5a;
  padding: 1rem 0;
  text-align: center;
}

footer hr {
  width: 80%;
  border: 0;
  border-top: 1px solid #313d5a;
  margin: 0.5rem auto;
} */
